bento {
    display: grid;
    grid-template-rows: repeat(200px, 200px);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}
bento > a {
    display: contents;
}

bento > a > box {
    grid-column: span 1;
    -ms-grid-column-span: 1;
}

bento > a:first-child > box {
    grid-row: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

bento > a:nth-child(2) > box {
    grid-row: 1;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

bento > a:nth-child(3) > box {
    grid-row: 2;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

bento > a:nth-child(4) > box {
    grid-row: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}
bento a {
    color: #fff;
}
box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px;
    background-color: var(--cardBg);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border: var(--cardStroke);
    gap: 10px;
}
box p {
    margin-bottom: 10px;
}
box flex p {
    margin-bottom: 0;
    line-height: 100%;
}
box flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: auto;
}
box:hover {
    cursor: pointer;
}
box:hover flex {
    gap: 30px;
}
