bento {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}
bento > a {
    display: contents;
}

bento > a > box {
    grid-column: span 1;
    -ms-grid-column-span: 1;
}

bento > a:first-child > box {
    grid-row: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

bento > a:nth-child(2) > box {
    grid-row: 1;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

bento > a:nth-child(3) > box {
    grid-row: 2;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

bento > a:nth-child(4) > box {
    grid-row: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}
bento a {
    color: #fff;
}
box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px;
    background-color: var(--cardBg);
    border-radius: 20px;
    border: var(--cardStroke);
    gap: 10px;
}
box img {
    border-radius: 5px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}
box .imageLike {
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
}
box flex p {
    line-height: 100%;
}
box flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
box:hover {
    cursor: pointer;
}
box:hover flex {
    gap: 30px;
}
box labeler {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-top: auto;
}
box labeler label {
    padding: 5px 10px;
    border-radius: 5px;
    border: var(--cardStrokeDark);
    background-color: var(--lightBg);
    font-size: small;
    text-transform: uppercase;
    flex: 1;
    flex-basis: 30%; /* idk why but this makes it better */
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
