/* RESPONSIVE DESIGN FOR PEOPLE WHO CAN'T BUY A PC AND NEED TO USE A SCREEN ON THEIR POCKET */
@media only screen and (max-width: 1000px) {
    body {
        flex-direction: column;
        justify-content: start;
        height: auto;
        max-width: calc(100vw - 40px);
    }
    bento {
        width: 100%;
        /* use flex instead of grid for easier responsive */
        display: flex;
        flex-direction: column;
    }
    box {
        flex-grow: 1;
    }
    .all-skills {
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .skill {
        width: calc(100% - 40px);
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
        flex-basis: 30%;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        flex-direction: column;
        justify-content: start;
        max-width: 1500px !important;
        width: 75vw;
    }
    .skill {
        flex-direction: row;
    }
}
