---
import Layout from "../layouts/Layout.astro";
import Lang from "../components/Lang.astro";
import { Icon } from "astro-icon/components";
import ZakaBox from "../components/ZakaBox.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <!-- not lazily loaded because it's on top, bro -->
    <img
        loading="eager"
        src="https://zakahacecosas.github.io/design/logo.webp"
        alt="Logotipo de Zaka"
        class="animation logo"
    />
    <Lang />
    <h1 class="animation">
        <esp>
            Buenos días, tardes, noches, o cuando sea que estés aquí.<br />
            Soy Zaka y Hago Cosas.
        </esp>
        <eng>
            Good morning, afternoon, night, or whenever you're here.<br />
            I'm Zaka and I Make Stuff.
        </eng>
    </h1>

    <hr />

    <h2>
        <esp>Qué sé hacer</esp>
        <eng>What I know to do</eng>
    </h2>

    <div class="zakaBox skill-box">
        <p>
            <esp>Habilidades</esp>
            <eng>Skills</eng>
        </p>
        <div class="animation all-skills">
            <div class="skill">
                <Icon name="JAVASCRIPT-BUT-BETTER" width={40} height={40} />
                <p>
                    <esp>Desarrollo en TypeScript</esp>
                    <eng>Developing in TypeScript</eng>
                </p>
            </div>
            <div class="skill">
                <Icon name="REACT" width={40} height={40} />
                <p>
                    <esp>Aplicaciones simples con ReactJS</esp>
                    <eng>Simple apps with ReactJS</eng>
                </p>
            </div><div class="skill">
                <Icon name="FIGMA" width={40} height={40} />
                <p>
                    <esp>Diseño gráfico y UI con Figma</esp>
                    <eng>Graphical and UI design with Figma</eng>
                </p>
            </div>
            <!-- <div class="skill">
                <Icon name="GOLANG" width={40} height={40} />
                <div class="text">
                    <h3>
                        <esp>acabo de empezar</esp>
                        <eng>i just got started</eng>
                    </h3>
                    <p>
                        <esp>Primer lenguaje de bajo nivel que toco :D</esp>
                        <eng>First low level language I touch :D</eng>
                    </p>
                </div>
            </div> -->
        </div>
    </div>

    <hr />

    <h2>
        <esp>Algunas cosas que hago</esp>
        <eng>Some stuff I make</eng>
    </h2>

    <h3>
        <esp>He creado estos proyectos</esp>
        <eng>I've created these projects</eng>
    </h3>
    <bento>
        <ZakaBox
            url="https://fuckingnode.github.io/"
            name="FuckingNode"
            boxIcon={{
                type: "svg",
                name: "nodular",
            }}
            boxClass="box-nodular"
            labels="cli,made with bun js"
            desc={{
                esp: "CLI de automatización para desarrolladores de NodeJS (y otros stacks). Bastante potente.",
                eng: "Automation CLI for NodeJS (and other stacks) developers. Fairly powerful.",
            }}
        />
        <!-- this still exists, but its TEMPORARILY unmaintained
        maybe i should hide it -->
        <ZakaBox
            url="https://personaplus.vercel.app/"
            name="PersonaPlus"
            boxIcon={{
                type: "svg",
                name: "exponential",
            }}
            boxClass="box-exponential"
            labels="android,made with react native"
            desc={{
                esp: "Pequeña app de salud (trabajo en progreso). Medio-abandonada (pero la retomaré).",
                eng: "Small (work in progress) health app. Half-abandoned (but I'll retake it).",
            }}
        />
        <p>
            <esp>Y cosas pequeñas o paquetes de código</esp>
            <eng>And small things or code packages</eng>
        </p>
        <div><!-- trick CSS into breaking the line --></div>
        <ZakaBox
            url="https://github.com/ZakaHaceCosas/dev-utils"
            name="dev-utils"
            boxClass="box-gh"
            desc={{
                esp: "Varios paquetes de utilidad (para strings, números, y demás).",
                eng: "A bunch of utility packages (for strings, numbers, and more).",
            }}
        />
    </bento>

    <hr />

    <h3>
        <esp>Trabajo con</esp>
        <eng>I work with</eng>
    </h3>
    <p>
        <esp>
            Las etiquetas indican con que rol / cómo he aportado a cada proyecto
            (a grosso modo).
        </esp>
        <eng>
            Tags indicate what I have contributed to each project (roughly).
        </eng>
    </p>
    <bento>
        <ZakaBox
            url="https://github.com/SokoraDesu/Sokora"
            name="Sokora"
            boxIcon={{
                type: "image",
                name: "sokoballs",
            }}
            boxClass="box-neboola"
            labels="bot dev,branding"
            desc={{
                esp: "Un bot de Discord muy épico.",
                eng: "A very epic Discord bot.",
            }}
        />
        <ZakaBox
            url="https://hokki.app/"
            name="Hokki"
            boxIcon={{
                type: "image",
                name: "hokkas",
            }}
            boxClass="box-hokkas"
            labels="web dev"
            desc={{
                esp: "Un bot de Discord con IA épica.",
                eng: "A Discord bot with epic AI.",
            }}
        />
    </bento>

    <h3>
        <esp>He contribuido a</esp>
        <eng>I've contributed to</eng>
    </h3>
    <bento>
        <ZakaBox
            url="https://codeberg.org/NotabenaDesu/"
            name="Notabena"
            boxIcon={{
                type: "image",
                name: "notabean",
            }}
            boxClass="box-beans"
            labels="golang"
            desc={{
                eng: "A simple and great note-taking app.",
                esp: "Una app de notas simple y genial.",
            }}
        />
        <ZakaBox
            url="https://github.com/Avdan-OS/"
            name="AvdanOS"
            boxIcon={{
                type: "image",
                name: "bread",
            }}
            boxClass="box-bread"
            labels="design"
            desc={{
                esp: "Una distro Linux.",
                eng: "A Linux distro.",
            }}
        />
        <ZakaBox
            url="https://github.com/Amog-OS/"
            name="AmogOS"
            boxIcon={{
                type: "image",
                name: "sus",
            }}
            boxClass="box-sus"
            labels="website dev,design"
            desc={{
                esp: "no lo digan",
                eng: "don't say it",
            }}
        />
        <ZakaBox
            url="https://vuelto.pp.ua/"
            name="Vuelto"
            boxIcon={{
                type: "image",
                name: "vuelta",
            }}
            boxClass="box-vuelta"
            labels="writing,design"
            desc={{
                esp: "El mejor motor de juegos, en Golang",
                eng: "The best game engine, in Golang",
            }}
        />
    </bento>

    <hr />

    <h3 id="contact">
        <esp>Contacto y redes sociales</esp>
        <eng>Contact and social media</eng>
    </h3>
    <p>
        <esp
            >de hecho como que soy bastante inactivo (menos en Discord) pero eso
            no significa que este muerto eh</esp
        >
        <eng
            >actually im like really inactive (except in Discord) but uhh that
            doesn't mean im dead</eng
        >
    </p>
    <bento>
        <ZakaBox
            url="https://discord.com/users/807903704472223754/"
            name="Discord"
            boxIcon={{
                type: "svg",
                name: "discord",
            }}
            boxClass="box-dc"
            desc={{
                esp: "Contacta conmigo aquí.",
                eng: "Contact me here.",
            }}
        />
        <ZakaBox
            url="https://github.com/ZakaHaceCosas/"
            name="GitHub"
            boxIcon={{
                type: "svg",
                name: "git",
            }}
            boxClass="box-gh"
            desc={{
                esp: "Aquí alojo todo mi código.",
                eng: "Here I host all my code.",
            }}
        />
        <ZakaBox
            url="mailto:zakahacecosas@protonmail.com"
            name="Email"
            boxIcon={{
                type: "svg",
                name: "proton",
            }}
            boxClass="box-proton"
        />
        <ZakaBox
            url="https://gitlab.com/zakahacecosas"
            name="GitLab"
            boxIcon={{
                type: "svg",
                name: "cat",
            }}
            boxClass="box-cat"
        />
        <ZakaBox
            url="https://codeberg.org/zakahacecosas"
            name="Codeberg"
            boxIcon={{
                type: "svg",
                name: "codeberg",
            }}
            boxClass="box-codeberg"
        />
        <ZakaBox
            url="https://youtube.com/@ZakaHaceCosas/"
            name="YouTube"
            boxIcon={{
                type: "svg",
                name: "yt",
            }}
            boxClass="box-yt"
        />
        <ZakaBox
            url="https://x.com/ZakaHaceCosas/"
            name="Twitter"
            boxIcon={{
                type: "svg",
                name: "not-x",
            }}
            boxClass="box-x"
        />
        <ZakaBox
            url="https://bsky.app/profile/zakahacecosas.bsky.social"
            name="Bluesky"
            boxIcon={{
                type: "svg",
                name: "sky",
            }}
            boxClass="box-sky"
        />
        <ZakaBox
            url="https://www.roblox.com/users/3596403470/profile"
            name="Roblox"
            boxIcon={{
                type: "svg",
                name: "boblox",
            }}
            boxClass="box-boblox"
        />
        <ZakaBox
            url="https://guilded.gg/u/zakahacecosas"
            name="Guilded"
            boxIcon={{
                type: "svg",
                name: "roblox-chat",
            }}
            boxClass="box-roblox-chat"
        />
    </bento>
</Layout>
<!--
optional: gravatar https://gravatar.com/zakahacecosas / stack overflow: https://stackoverflow.com/users/21657379/zaka
Trello: https://trello.com/u/zakahacecosas / BTC wallet: lol / BeHance: https://www.behance.net/zakacosas
-->
