---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import ZakaBox from "../components/ZakaBox.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <!-- not lazily loaded because it's on top, bro -->
    <img
        loading="eager"
        src="https://zakahacecosas.github.io/design/logo.webp"
        alt="Logotipo de Zaka"
        class="animation logo"
    />
    <div class="langSelector animation">
        <a id="setLangEs" class="lang">
            <Icon name="what-is-stable-politics" width={20} height={20} />
            ESPAÑOL
        </a>
        <hr />
        <a id="setLangEn" class="lang">
            <Icon name="what-is-a-kilometer" width={20} height={20} />
            ENGLISH
        </a>
    </div>

    <h1 class="animation">
        <esp>
            Buenos días, tardes, noches, o cuando sea que estés aquí.<br />
            <span style="font-weight: 400">Soy Zaka y Hago Cosas.</span>
        </esp>
        <eng>
            Good morning, afternoon, night, or whenever you're here.<br />
            <span style="font-weight: 400">I'm Zaka and I Make Stuff.</span>
        </eng>
    </h1>

    <hr />

    <h2>
        <esp>Qué sé hacer</esp>
        <eng>What I know to do</eng>
    </h2>

    <div class="zakaBox skill-box">
        <p>
            <esp>Habilidades</esp>
            <eng>Skills</eng>
        </p>
        <div class="all-skills">
            <div class="skill animation">
                <Icon name="JAVASCRIPT-BUT-BETTER" width={40} height={40} />
                <p>
                    <esp>Desarrollo en TypeScript</esp>
                    <eng>Developing in TypeScript</eng>
                </p>
            </div>
            <div class="skill animation">
                <Icon name="REACT" width={40} height={40} />
                <p>
                    <esp>Aplicaciones simples con ReactJS</esp>
                    <eng>Simple apps with ReactJS</eng>
                </p>
            </div><div class="skill animation">
                <Icon name="FIGMA" width={40} height={40} />
                <p>
                    <esp>Diseño de interfaces con Figma</esp>
                    <eng>Interface design with Figma</eng>
                </p>
            </div>
        </div>
    </div>

    <hr />

    <div>
        <h3 id="work">
            <esp>Detalles profesionales</esp>
            <eng>Professional details</eng>
        </h3>
        <p>
            <esp
                >donde sale mi experiencia académica y laboral, por si te
                interesa</esp
            >
            <eng
                >where my academic and professional experience appear, in case
                it interested you</eng
            >
        </p>
    </div>

    <bento>
        <ZakaBox
            url="https://www.linkedin.com/in/zakahacecosas/"
            name="LinkedIn"
            boxIcon={{
                type: "svg",
                name: "in",
            }}
            boxClass="box-in"
            desc={{
                esp: "Información profesional.",
                eng: "Professional information.",
            }}
        />
        <!-- <ZakaBox
            url="https://www.linkedin.com/in/zakahacecosas/"
            name="InfoJobs"
            boxIcon={{
                type: "svg",
                name: "ij",
            }}
            boxClass="box-in"
            desc={{
                esp: "Información profesional.",
                eng: "Professional information.",
            }}
        /> -->
    </bento>
    <p>
        <eng>
            I am still studying and therefore not available for full-time work
            (as you may see here even some of my personal projects are
            half-abandoned due to lack of time), however <b
                >I do accept commissions and small pieces of work</b
            >, with prices to be negotiated (or even free in exchange of
            crediting me, depending on the case)
        </eng>
        <esp>
            sigo estudiando y por tanto no estoy disponible para trabajo a
            tiempo completo (como verás aquí hasta mis proyectos personales
            están medio muertos por falta de tiempo), sin embargo <b
                >sí acepto comisiones y trabajos pequeños</b
            >, con paga a negociar (o incluso gratis a cambio de acreditar,
            según el caso)
        </esp>
    </p>

    <hr />

    <h2>
        <esp>Algunas cosas que hago</esp>
        <eng>Some stuff I make</eng>
    </h2>

    <div>
        <h3>
            <esp>He creado estos proyectos</esp>
            <eng>I've created these projects</eng>
        </h3>
        <p>
            <esp
                >algunos están bajo organizaciones en vez de bajo mi perfil
                personal, pero todos me acreditan debidamente como creador</esp
            >
            <eng
                >some are under organizations instead of my personal profile,
                but they all properly credit me as creator</eng
            >
        </p>
    </div>
    <bento>
        <ZakaBox
            url="https://konbini.vercel.app/"
            name="Konbini"
            boxIcon={{
                type: "svg",
                name: "kbi",
            }}
            boxClass="box-kbi"
            label={{
                esp: "Herramienta de terminal, hecha con Bun + Web app, hecha con Preact",
                eng: "CLI tool, made with Bun + Web app, made with Preact",
            }}
            desc={{
                esp: "Cliente universal para la mayoría de gestores de paquetes.",
                eng: "Universal client for the majority of package managers.",
            }}
        />
        <ZakaBox
            url="https://github.com/HanaOrg/Zaiko"
            name="Zaiko"
            boxIcon={{
                type: "svg",
                name: "ovs",
            }}
            boxClass="box-ovs"
            label={{
                esp: "App de escritorio, hecha con Tauri y Bun",
                eng: "Desktop app, made with Tauri and Bun",
            }}
            desc={{
                esp: "Programa de escritorio simple para gestión de inventario.",
                eng: "Simple desktop program for stock management.",
            }}
        />
        <ZakaBox
            url="https://fuckingnode.github.io/"
            name="FuckingNode"
            boxIcon={{
                type: "svg",
                name: "nodular",
            }}
            boxClass="box-nodular"
            label={{
                esp: "Herramienta de terminal, hecha con Deno",
                eng: "CLI tool, made with Deno",
            }}
            desc={{
                esp: "CLI de automatización para desarrolladores de NodeJS (y otros stacks). Bastante potente.",
                eng: "Automation CLI for NodeJS (and other stacks) developers. Fairly powerful.",
            }}
        />
        <!-- this still exists, but its TEMPORARILY unmaintained
        maybe i should hide it -->
        <ZakaBox
            url="https://personaplus.vercel.app/"
            name="PersonaPlus"
            boxIcon={{
                type: "svg",
                name: "exponential",
            }}
            boxClass="box-exponential"
            label={{
                esp: "App de Android, hecha con React Native",
                eng: "Android app, made with React Native",
            }}
            desc={{
                esp: "Pequeña app de salud (trabajo en progreso). Está medio-abandonada por ahora, pero planeo retomarla.",
                eng: "Small (work in progress) health app. It's half-abandoned as of now, but I plan to retake it.",
            }}
        />
    </bento>
    <p>
        <esp>y cosas pequeñas como paquetes de código</esp>
        <eng>and small things like code packages</eng>
    </p>
    <bento>
        <ZakaBox
            url="https://github.com/ZakaHaceCosas/dev-utils"
            name="dev-utils"
            boxClass="box-gh"
            label={{
                esp: "jsr y parcialmente npm",
                eng: "jsr and partially npm",
            }}
            desc={{
                esp: "Varios paquetes de JavaScript de utilidad (para strings, números, y demás).",
                eng: "A bunch of JavaScript utility packages (for strings, numbers, and more).",
            }}
        />
    </bento>
    <p>
        <esp>también me gusta dar clase, ¿lo sabías?</esp>
        <eng>I also enjoy teaching, did you know that?</eng>
    </p>
    <bento>
        <ZakaBox
            url="https://zakaprofe.vercel.app/"
            name="@ZakaProfe"
            boxClass="box-profe"
            label={{
                esp: "Videos en YouTube.",
                eng: "YouTube videos.",
            }}
            desc={{
                esp: "Hago videos didácticos (o hacía, que ahora me falta tiempo, pero algún día los retomaré).",
                eng: "I make educational videos (or used to, I now lack time, but I'll eventually retake them).",
            }}
        />
        <!-- TODO: uncomment when i push the new ZP website (current one doesn't mention ZT) <ZakaBox
            url="https://zakaprofe.vercel.app/"
            name="@ZakaProfe & @ZakaTeka"
            boxClass="box-profe"
            label={{
                esp: "Videos en YouTube.",
                eng: "YouTube videos.",
            }}
            desc={{
                esp: "Hago videos didácticos. Antes eran de carácter general, ahora más centrados en informática.",
                eng: "I make educational videos. They used to be about general topics, though now they're more focused on informatics.",
            }}
        /> -->
    </bento>

    <hr />

    <h3>
        <esp>Trabajo con</esp>
        <eng>I work with</eng>
    </h3>
    <bento>
        <ZakaBox
            url="https://github.com/SokoraDesu/Sokora"
            name="Sokora"
            boxIcon={{
                type: "image",
                name: "sokoballs",
            }}
            boxClass="box-neboola"
            label={{
                esp: "Ejerciendo de diseñador líder + programador del bot (TypeScript)",
                eng: "Working as lead designer + bot developer (TypeScript)",
            }}
            desc={{
                esp: "Un bot de Discord muy épico.",
                eng: "A very epic Discord bot.",
            }}
        />
        <ZakaBox
            url="https://hokki.app/"
            name="Hokki"
            boxIcon={{
                type: "image",
                name: "hokkas",
            }}
            boxClass="box-hokkas"
            label={{
                esp: "Ejerciendo de desarrollador web",
                eng: "Working as web developer",
            }}
            desc={{
                esp: "Un bot de Discord con IA épica.",
                eng: "A Discord bot with epic AI.",
            }}
        />
    </bento>

    <h3>
        <esp>He contribuido a</esp>
        <eng>I've contributed to</eng>
    </h3>
    <bento>
        <ZakaBox
            url="https://codeberg.org/NotabenaDesu/Notabena"
            name="Notabena"
            boxIcon={{
                type: "image",
                name: "notabean",
            }}
            boxClass="box-beans"
            label={{
                eng: "Contributed as developer (Golang)",
                esp: "Contribuí como desarrollador (Golang)",
            }}
            desc={{
                eng: "A simple and great note-taking app.",
                esp: "Una app de notas simple y genial.",
            }}
        />
        <ZakaBox
            url="https://github.com/Avdan-OS/"
            name="AvdanOS"
            boxIcon={{
                type: "image",
                name: "bread",
            }}
            boxClass="box-bread"
            label={{
                esp: "Contribuí como diseñador",
                eng: "Contributed as designer",
            }}
            desc={{
                esp: "Una distro Linux.",
                eng: "A Linux distro.",
            }}
        />
        <ZakaBox
            url="https://github.com/Amog-OS/"
            name="AmogOS"
            boxIcon={{
                type: "image",
                name: "sus",
            }}
            boxClass="box-sus"
            label={{
                esp: "Contribuí como programador web",
                eng: "Contributed as website developer",
            }}
            desc={{
                esp: "Sí, esto es real.",
                eng: "Yes, this is real.",
            }}
        />
        <ZakaBox
            url="https://vuelto.pp.ua/"
            name="Vuelto"
            boxIcon={{
                type: "image",
                name: "vuelta",
            }}
            boxClass="box-vuelta"
            label={{
                esp: "Contribuí como diseñador y redactor de contenidos",
                eng: "Contributed as designer and copywriter",
            }}
            desc={{
                esp: "Un motor de juegos en Golang",
                eng: "A game engine in Golang",
            }}
        />
    </bento>

    <hr />

    <div>
        <h3 id="contact">
            <esp>Contacto y redes sociales</esp>
            <eng>Contact and social media</eng>
        </h3>
        <p>
            <esp
                >soy algo inactivo en la mayoría, si buscas contactarme usa
                Discord o el correo-e</esp
            >
            <eng
                >im somewhat inactive in most of them, for contact use Discord
                or e-mail</eng
            >
        </p>
    </div>
    <bento>
        <ZakaBox
            url="https://discord.com/users/807903704472223754/"
            name="Discord"
            boxIcon={{
                type: "svg",
                name: "discord",
            }}
            boxClass="box-dc"
            desc={{
                esp: "Contacta conmigo aquí.",
                eng: "Contact me here.",
            }}
        />
        <ZakaBox
            url="https://github.com/ZakaHaceCosas/"
            name="GitHub"
            boxIcon={{
                type: "svg",
                name: "git",
            }}
            boxClass="box-gh"
            desc={{
                esp: "Aquí alojo todo mi código.",
                eng: "Here I host all my code.",
            }}
        />
        <ZakaBox
            url="mailto:zakahacecosas@protonmail.com"
            name="Email"
            boxIcon={{
                type: "svg",
                name: "proton",
            }}
            boxClass="box-proton"
        />
        <ZakaBox
            url="https://gitlab.com/zakahacecosas"
            name="GitLab"
            boxIcon={{
                type: "svg",
                name: "cat",
            }}
            boxClass="box-cat"
        />
        <ZakaBox
            url="https://codeberg.org/zakahacecosas"
            name="Codeberg"
            boxIcon={{
                type: "svg",
                name: "codeberg",
            }}
            boxClass="box-codeberg"
        />
        <ZakaBox
            url="https://youtube.com/@ZakaHaceCosas/"
            name="YouTube"
            boxIcon={{
                type: "svg",
                name: "yt",
            }}
            boxClass="box-yt"
        />
        <ZakaBox
            url="https://x.com/ZakaHaceCosas/"
            name="Twitter"
            boxIcon={{
                type: "svg",
                name: "not-x",
            }}
            boxClass="box-x"
        />
        <ZakaBox
            url="https://bsky.app/profile/zakahacecosas.bsky.social"
            name="Bluesky"
            boxIcon={{
                type: "svg",
                name: "sky",
            }}
            boxClass="box-sky"
        />
        <ZakaBox
            url="https://www.roblox.com/users/3596403470/profile"
            name="Roblox"
            boxIcon={{
                type: "svg",
                name: "boblox",
            }}
            boxClass="box-boblox"
        />
    </bento>
</Layout>
<!--
optional: gravatar https://gravatar.com/zakahacecosas / stack overflow: https://stackoverflow.com/users/21657379/zaka
Trello: https://trello.com/u/zakahacecosas /
-->
