---
import Layout from "../layouts/Layout.astro";
import Lang from "../components/Lang.astro";
import { Icon } from "astro-icon/components";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <img
        loading="lazy"
        src="https://zakahacecosas.github.io/design/logo.webp"
        alt="Logotipo de Zaka"
        class="animation logo"
    />
    <Lang />
    <h1 class="animation">
        <esp>
            Buenos días, tardes, noches, o cuando sea que estés aquí.<br />
            Soy Zaka y Hago Cosas.
        </esp>
        <eng>
            Good morning, afternoon, night, or whenever you're here.<br />
            I'm Zaka and I Make Stuff.
        </eng>
    </h1>
    <div class="zakaBox zakaBoxBlur skill-box">
        <p>
            <esp>Habilidades</esp>
            <eng>Skills</eng>
        </p>
        <div class="animation all-skills">
            <div class="skill">
                <Icon name="FIGMA" width={30} height={30} />
                <div class="text">
                    <h3>4 <esp>años</esp><eng>years</eng></h3>
                    <p>
                        <esp>Diseño gráfico y UI</esp>
                        <eng>Graphical and UI design</eng>
                    </p>
                </div>
            </div>
            <div class="skill">
                <Icon name="LUAU" width={30} height={30} />
                <div class="text">
                    <!-- 2 years, but i haven't practiced for like enough time to reduce it to one -->
                    <h3>1 <esp>año</esp><eng>year</eng></h3>
                    <p>Roblox scripting</p>
                </div>
            </div>
            <div class="skill">
                <Icon name="JAVASCRIPT-BUT-BETTER" width={30} height={30} />
                <div class="text">
                    <h3>+6 <esp>meses</esp><eng>months</eng></h3>
                    <p>
                        <esp>Webs y apps simples</esp>
                        <eng>Simple webs and apps</eng>
                    </p>
                </div>
            </div>
            <div class="skill">
                <Icon name="REACT" width={30} height={30} />
                <div class="text">
                    <h3>+6 <esp>meses</esp><eng>months</eng></h3>
                    <p>
                        <esp>Webs y apps simples</esp>
                        <eng>Simple webs and apps</eng>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h1>
        <esp>Aquí tienes algunas cosas que hago</esp>
        <eng>Here you got some stuff I do</eng>
    </h1>
    <p>
        <esp>
            Cada caja es un enlace a la web, Discord, o GitHub de cada proyecto
            proyecto.
        </esp>
        <eng>
            Each box is a link to the website, Discord, or GitHub of each
            project.
        </eng>
    </p>
    <!-- PROJECTS -->
    <h3>
        <esp> Trabajo / he trabajado con (o he contribuido a) </esp>
        <eng> I work / I've worked with (or have contributed to) </eng>
    </h3>
    <p>
        <esp>
            Las etiquetas indican con que rol / cómo he aportado a cada proyecto
            (a grosso modo). Incluye proyectos a los que
            <i>ya no</i> pertenezco.
        </esp>
        <eng>
            The labels indicate what I have contributed to each project
            (roughly). Includes projects I don't belong to <i>anymore</i>.
        </eng>
    </p>
    <bento id="zjs_boxTarget_work">
        <a
            href="https://thoneai.com/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box
                class="animation zakaBoxBlur box-toro"
                labels="typescript,design"
            >
                <img
                    loading="lazy"
                    src="https://zakahacecosas.github.io/assets/ladrillero.webp"
                    alt="Thone AI logo"
                    width="48"
                    height="48"
                />
                <h2>Thone AI</h2>
                <p>
                    <esp>tiembla, OpenAI</esp>
                    <eng>fear, OpenAI</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://github.com/SokoraDesu/Sokora"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box
                class="animation zakaBoxBlur box-neboola"
                labels="design,writing"
            >
                <img
                    loading="lazy"
                    src="https://zakahacecosas.github.io/assets/sokoballs.webp"
                    alt="Sokora Logo"
                    width="48"
                    height="48"
                />
                <h2>Sokora</h2>
                <p>
                    <esp>Un bot de Discord épico</esp>
                    <eng>An epic Discord bot</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://minigamebeta.cloud"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box
                class="animation zakaBoxBlur box-websocket"
                labels="design,figma"
            >
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 797 289"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M362.069 2.27999V129H333.461V54.408L334.709 33.192L329.813 57.48L308.501 118.824H280.373L259.157 57.48L254.357 33.192L255.605 54.408V129H226.901V2.27999H267.221L292.757 86.856L294.485 96.936L296.213 86.856L321.749 2.27999H362.069ZM386.024 129V50.184H415.208V129H386.024ZM401 33.96C396.392 33.96 392.488 32.36 389.288 29.16C386.088 25.896 384.488 22.024 384.488 17.544C384.488 13.064 386.088 9.19199 389.288 5.92799C392.552 2.59999 396.456 0.935989 401 0.935989C404.008 0.935989 406.76 1.70399 409.256 3.23999C411.752 4.71199 413.768 6.696 415.304 9.192C416.84 11.688 417.608 14.472 417.608 17.544C417.608 22.024 415.976 25.896 412.712 29.16C409.448 32.36 405.544 33.96 401 33.96ZM489.554 47.88C495.058 47.88 500.434 49 505.682 51.24C510.93 53.48 515.25 57.032 518.642 61.896C522.034 66.696 523.73 73.032 523.73 80.904V129H494.45V85.704C494.45 80.072 493.106 75.848 490.418 73.032C487.73 70.152 484.21 68.712 479.858 68.712C476.978 68.712 474.258 69.48 471.698 71.016C469.202 72.488 467.154 74.6 465.554 77.352C464.018 80.04 463.25 83.144 463.25 86.664V129H434.066V50.184H463.25V61.8C464.018 59.688 465.618 57.576 468.05 55.464C470.546 53.288 473.65 51.496 477.362 50.088C481.138 48.616 485.202 47.88 489.554 47.88ZM541.649 129V50.184H570.833V129H541.649ZM556.625 33.96C552.017 33.96 548.113 32.36 544.913 29.16C541.713 25.896 540.113 22.024 540.113 17.544C540.113 13.064 541.713 9.19199 544.913 5.92799C548.177 2.59999 552.081 0.935989 556.625 0.935989C559.633 0.935989 562.385 1.70399 564.881 3.23999C567.377 4.71199 569.393 6.696 570.929 9.192C572.465 11.688 573.233 14.472 573.233 17.544C573.233 22.024 571.601 25.896 568.337 29.16C565.073 32.36 561.169 33.96 556.625 33.96ZM104.694 169.872H209.682V182.976C209.682 197.744 207.186 211.524 202.194 224.316C197.306 237.108 190.286 248.34 181.134 258.012C171.982 267.684 161.062 275.224 148.374 280.632C135.686 286.04 121.646 288.744 106.254 288.744C90.3419 288.744 75.8858 286.04 62.8858 280.632C49.9898 275.12 38.8618 267.476 29.5018 257.7C20.1418 247.924 12.9658 236.588 7.97384 223.692C2.98184 210.692 0.485844 196.756 0.485844 181.884C0.485844 167.116 2.98184 153.284 7.97384 140.388C12.9658 127.388 20.1418 116.052 29.5018 106.38C38.8618 96.604 49.9898 89.012 62.8858 83.604C75.8858 78.092 90.3419 75.336 106.254 75.336C119.254 75.336 130.694 76.74 140.574 79.548C150.558 82.356 159.138 86.1 166.314 90.78C173.49 95.46 179.574 100.608 184.566 106.224C189.558 111.736 193.718 117.144 197.046 122.448L152.742 143.352C148.478 136.8 142.654 131.08 135.27 126.192C127.99 121.304 118.318 118.86 106.254 118.86C97.8298 118.86 90.0818 120.524 83.0099 123.852C76.0418 127.18 70.0098 131.756 64.9138 137.58C59.8178 143.3 55.8658 150.008 53.0578 157.704C50.3538 165.296 49.0018 173.356 49.0018 181.884C49.0018 190.516 50.3538 198.628 53.0578 206.22C55.8658 213.812 59.8178 220.52 64.9138 226.344C70.0098 232.168 76.0418 236.744 83.0099 240.072C90.0818 243.296 97.8298 244.908 106.254 244.908C113.638 244.908 120.346 243.972 126.378 242.1C132.41 240.228 137.61 237.524 141.978 233.988C146.45 230.452 149.934 226.292 152.43 221.508C155.03 216.62 156.59 211.264 157.11 205.44H104.694V169.872ZM335.996 285V264.252C335.06 266.332 332.668 269.348 328.82 273.3C325.076 277.252 320.084 280.84 313.844 284.064C307.604 287.184 300.324 288.744 292.004 288.744C279.524 288.744 268.604 285.728 259.244 279.696C249.884 273.56 242.604 265.396 237.404 255.204C232.204 244.908 229.604 233.52 229.604 221.04C229.604 208.56 232.204 197.224 237.404 187.032C242.604 176.736 249.884 168.52 259.244 162.384C268.604 156.248 279.524 153.18 292.004 153.18C300.012 153.18 307.032 154.48 313.064 157.08C319.096 159.576 323.984 162.592 327.728 166.128C331.472 169.56 334.072 172.732 335.528 175.644V156.924H382.64V285H335.996ZM276.092 221.04C276.092 226.864 277.444 232.116 280.148 236.796C282.852 241.372 286.44 244.96 290.912 247.56C295.488 250.16 300.532 251.46 306.044 251.46C311.764 251.46 316.808 250.16 321.176 247.56C325.544 244.96 328.976 241.372 331.472 236.796C334.072 232.116 335.372 226.864 335.372 221.04C335.372 215.216 334.072 210.016 331.472 205.44C328.976 200.76 325.544 197.12 321.176 194.52C316.808 191.816 311.764 190.464 306.044 190.464C300.532 190.464 295.488 191.816 290.912 194.52C286.44 197.12 282.852 200.76 280.148 205.44C277.444 210.016 276.092 215.216 276.092 221.04ZM588.857 153.18C598.529 153.18 607.057 155.208 614.441 159.264C621.825 163.216 627.597 169.352 631.757 177.672C636.021 185.992 638.153 196.704 638.153 209.808V285H591.509V216.984C591.509 208.04 590.157 200.812 587.453 195.3C584.749 189.788 579.393 187.032 571.385 187.032C566.601 187.032 562.389 188.28 558.749 190.776C555.109 193.272 552.301 196.756 550.325 201.228C548.349 205.596 547.361 210.848 547.361 216.984V285H503.837V216.984C503.837 208.04 502.329 200.812 499.313 195.3C496.401 189.788 491.201 187.032 483.713 187.032C478.929 187.032 474.717 188.28 471.077 190.776C467.437 193.168 464.629 196.6 462.653 201.072C460.781 205.44 459.845 210.744 459.845 216.984V285H412.733V156.924H459.845V175.176C461.093 171.952 463.797 168.676 467.957 165.348C472.221 161.916 477.473 159.056 483.713 156.768C489.953 154.376 496.557 153.18 503.525 153.18C511.117 153.18 517.461 154.324 522.557 156.612C527.653 158.796 531.813 161.76 535.037 165.504C538.365 169.248 541.017 173.304 542.993 177.672C544.449 173.928 547.309 170.184 551.573 166.44C555.941 162.592 561.349 159.42 567.797 156.924C574.349 154.428 581.369 153.18 588.857 153.18ZM703.376 231.024C703.688 235.6 705.144 239.656 707.744 243.192C710.344 246.728 713.932 249.536 718.508 251.616C723.188 253.592 728.7 254.58 735.044 254.58C741.076 254.58 746.484 253.956 751.268 252.708C756.156 251.46 760.368 249.9 763.904 248.028C767.544 246.156 770.352 244.232 772.328 242.256L790.736 271.584C788.136 274.392 784.444 277.148 779.66 279.852C774.98 282.452 768.792 284.584 761.096 286.248C753.4 287.912 743.676 288.744 731.924 288.744C717.78 288.744 705.196 286.092 694.172 280.788C683.148 275.484 674.464 267.684 668.12 257.388C661.776 247.092 658.604 234.508 658.604 219.636C658.604 207.156 661.308 195.924 666.716 185.94C672.228 175.852 680.184 167.896 690.584 162.072C700.984 156.144 713.516 153.18 728.18 153.18C742.116 153.18 754.18 155.728 764.372 160.824C774.668 165.92 782.572 173.512 788.084 183.6C793.7 193.584 796.508 206.064 796.508 221.04C796.508 221.872 796.456 223.536 796.352 226.032C796.352 228.528 796.248 230.192 796.04 231.024H703.376ZM751.892 206.22C751.788 202.892 750.904 199.616 749.24 196.392C747.576 193.064 745.08 190.36 741.752 188.28C738.424 186.096 734.16 185.004 728.96 185.004C723.76 185.004 719.34 186.044 715.7 188.124C712.164 190.1 709.46 192.7 707.588 195.924C705.716 199.148 704.676 202.58 704.468 206.22H751.892Z"
                        fill="#4c7eef"></path>
                </svg>
                <h2>MiniGame</h2>
                <p>
                    <esp>cloud gaming épico</esp>
                    <eng>epic cloud gaming</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://github.com/Amog-OS"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box
                class="animation zakaBoxBlur box-sus"
                labels="website dev,design"
            >
                <img
                    loading="lazy"
                    src="https://zakahacecosas.github.io/assets/sus.webp"
                    alt="AmogOS Logo"
                    width="48"
                    height="48"
                />
                <h2>AmogOS</h2>
                <p>
                    <esp>no lo digan</esp>
                    <eng>don't say it</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://avdanos.com/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-aflan" labels="ui design">
                <img
                    loading="lazy"
                    src="https://zakahacecosas.github.io/assets/bread.webp"
                    alt="AvdanOS logo"
                    width="48"
                    height="48"
                />
                <h2>AvdanOS</h2>
                <p>
                    <esp>Un SO basado en Linux.</esp>
                    <eng>An OS based on Linux.</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://vuelto.pp.ua/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-vuelta" labels="design">
                <img
                    loading="lazy"
                    src="https://zakahacecosas.github.io/assets/vuelta.webp"
                    alt="Vuelto logo"
                    width="48"
                    height="48"
                />
                <h2>Vuelto</h2>
                <p>
                    <esp>Haz juegos con Golang.</esp>
                    <eng>Make games with Golang.</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
    </bento>
    <!-- PROJECTS -->
    <h3>
        <esp>He creado estos proyectos</esp>
        <eng>I've created these projects</eng>
    </h3>
    <bento>
        <a
            href="https://personaplus.vercel.app"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box
                class="animation zakaBoxBlur box-pechonaplus"
                labels="mobile,react native"
            >
                <div class="imageLike">
                    <svg
                        width="48"
                        height="48"
                        viewBox="0 0 322 307"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M210.677 183.789C215.203 183.787 219.685 184.676 223.867 186.407C228.05 188.138 231.85 190.676 235.051 193.875C238.252 197.075 240.792 200.874 242.524 205.056C244.257 209.237 245.149 213.719 245.149 218.245V232.31C245.147 241.095 242.399 249.661 237.289 256.808C213.603 289.947 174.918 306.355 122.521 306.355C70.0928 306.355 31.4383 289.931 7.81363 256.762C2.73208 249.627 0.000877124 241.085 3.40645e-06 232.325V218.23C-0.00200913 213.704 0.887753 209.221 2.61846 205.039C4.34916 200.857 6.88689 197.057 10.0867 193.856C13.2865 190.654 17.0856 188.115 21.2671 186.382C25.4485 184.65 29.9304 183.758 34.4565 183.758H210.661L210.677 183.789ZM122.521 0C142.837 0 162.322 8.07077 176.688 22.4368C191.054 36.8029 199.125 56.2875 199.125 76.6041C199.125 96.9208 191.054 116.405 176.688 130.771C162.322 145.137 142.837 153.208 122.521 153.208C102.204 153.208 82.7194 145.137 68.3534 130.771C53.9873 116.405 45.9165 96.9208 45.9165 76.6041C45.9165 56.2875 53.9873 36.8029 68.3534 22.4368C82.7194 8.07077 102.204 0 122.521 0Z"
                            fill="#32FF80"></path>
                        <path
                            d="M264.703 102.825V62.7786H225.479V46.3495H264.703V6.30342H282.775V46.3495H322V62.7786H282.775V102.825H264.703Z"
                            fill="#32FF80"></path>
                    </svg>
                </div>
                <h2>PersonaPlus</h2>
                <p>
                    <esp>¡Date un plus!</esp>
                    <eng>Give yourself a plus!</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://github.com/ZakaHaceCosas/fuckingnode"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-nodular" labels="cli,node js">
                <div class="imageLike">
                    <!--
                    no logo :[
                    empty div to create space
                -->
                </div>
                <h2>F*ckingNode</h2>
                <p>
                    <esp>
                        El p*to <code>node_modules</code>, pero menos
                        insoportable.
                    </esp>
                    <eng>
                        The f*cking <code>node_modules</code>, but less painful.
                    </eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
    </bento>
    <!-- CONTACT -->
    <h3 id="contact">
        <esp>Contacto y redes sociales</esp>
        <eng>Contact and social media</eng>
    </h3>
    <statusItem
        class="zakaBox zakaBoxBlur animation status-item"
        status="notAvailable"></statusItem>
    <bento>
        <a
            href="https://youtube.com/@ZakaHaceCosas"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-yt">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 48 48"
                    width="48px"
                    height="48px"
                >
                    <path
                        fill="#FF3D00"
                        d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z"
                    ></path>
                    <path fill="#FFF" d="M20 31L20 17 32 24z"></path>
                </svg>
                <h2>YouTube</h2>
                <!--im not giving explanations but this thingy is just being taken down and up-->
                <p>
                    <esp>
                        Subo cosas random aquí.
                        <!-- Tras incidentes que no voy a comentar, tuve que
                        retirar todo el contenido, al menos por ahora.
                        No, no es un <i>strike</i>. -->
                    </esp>
                    <eng>
                        I upload random stuff here.
                        <!-- After incidents I won't comment, I had to retire
                        all the content, at least for now. No, I didn't
                        get a <i>strike</i>. -->
                    </eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
                <!-- <flex>
                    <p>
                        <esp>NO DISPONIBLE</esp><eng>NOT AVAILABLE</eng>
                    </p>
                    <p>&CircleTimes;</p>
                </flex> -->
            </box>
        </a>
        <a
            href="https://x.com/ZakaHaceCosas"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-x">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 48 48"
                    width="48px"
                    height="48px"
                >
                    <path
                        fill="#03A9F4"
                        d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429"
                    ></path>
                </svg>
                <h2>Twitter</h2>
                <p>
                    <esp>Me niego a llamarlo X.</esp>
                    <eng>I refuse to call it X.</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://discord.com/users/807903704472223754"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-dc">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 48 48"
                    width="48px"
                    height="48px"
                >
                    <path
                        fill="#536dfe"
                        d="M39.248,10.177c-2.804-1.287-5.812-2.235-8.956-2.778c-0.057-0.01-0.114,0.016-0.144,0.068	c-0.387,0.688-0.815,1.585-1.115,2.291c-3.382-0.506-6.747-0.506-10.059,0c-0.3-0.721-0.744-1.603-1.133-2.291	c-0.03-0.051-0.087-0.077-0.144-0.068c-3.143,0.541-6.15,1.489-8.956,2.778c-0.024,0.01-0.045,0.028-0.059,0.051	c-5.704,8.522-7.267,16.835-6.5,25.044c0.003,0.04,0.026,0.079,0.057,0.103c3.763,2.764,7.409,4.442,10.987,5.554	c0.057,0.017,0.118-0.003,0.154-0.051c0.846-1.156,1.601-2.374,2.248-3.656c0.038-0.075,0.002-0.164-0.076-0.194	c-1.197-0.454-2.336-1.007-3.432-1.636c-0.087-0.051-0.094-0.175-0.014-0.234c0.231-0.173,0.461-0.353,0.682-0.534	c0.04-0.033,0.095-0.04,0.142-0.019c7.201,3.288,14.997,3.288,22.113,0c0.047-0.023,0.102-0.016,0.144,0.017	c0.22,0.182,0.451,0.363,0.683,0.536c0.08,0.059,0.075,0.183-0.012,0.234c-1.096,0.641-2.236,1.182-3.434,1.634	c-0.078,0.03-0.113,0.12-0.075,0.196c0.661,1.28,1.415,2.498,2.246,3.654c0.035,0.049,0.097,0.07,0.154,0.052	c3.595-1.112,7.241-2.79,11.004-5.554c0.033-0.024,0.054-0.061,0.057-0.101c0.917-9.491-1.537-17.735-6.505-25.044	C39.293,10.205,39.272,10.187,39.248,10.177z M16.703,30.273c-2.168,0-3.954-1.99-3.954-4.435s1.752-4.435,3.954-4.435	c2.22,0,3.989,2.008,3.954,4.435C20.658,28.282,18.906,30.273,16.703,30.273z M31.324,30.273c-2.168,0-3.954-1.99-3.954-4.435	s1.752-4.435,3.954-4.435c2.22,0,3.989,2.008,3.954,4.435C35.278,28.282,33.544,30.273,31.324,30.273z"
                    ></path>
                </svg>
                <h2>Discord</h2>
                <p>
                    <esp>Escríbeme o salúdame aquí.</esp>
                    <eng>Text me or greet me here.</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://github.com/ZakaHaceCosas"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-gh">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 48 48"
                    width="48px"
                    height="48px"
                >
                    <linearGradient
                        id="rL2wppHyxHVbobwndsT6Ca"
                        x1="4"
                        x2="44"
                        y1="23.508"
                        y2="23.508"
                        gradientUnits="userSpaceOnUse"
                    >
                        <stop offset="0" stop-color="#4c4c4c"></stop>
                        <stop offset="1" stop-color="#343434"></stop>
                    </linearGradient>
                    <path
                        fill="url(#rL2wppHyxHVbobwndsT6Ca)"
                        d="M24,4C12.954,4,4,12.954,4,24c0,8.887,5.801,16.411,13.82,19.016h12.36	C38.199,40.411,44,32.887,44,24C44,12.954,35.046,4,24,4z"
                    ></path>
                    <path
                        d="M30.01,41.996L30,36.198c0-0.939-0.22-1.856-0.642-2.687c5.641-1.133,8.386-4.468,8.386-10.177	c0-2.255-0.665-4.246-1.976-5.92c0.1-0.317,0.174-0.645,0.22-0.981c0.188-1.369-0.023-2.264-0.193-2.984l-0.027-0.116	c-0.186-0.796-0.409-1.364-0.418-1.388l-0.111-0.282l-0.111-0.282l-0.302-0.032l-0.303-0.032c0,0-0.199-0.021-0.501-0.021	c-0.419,0-1.04,0.042-1.627,0.241l-0.196,0.066c-0.74,0.249-1.439,0.485-2.417,1.069c-0.286,0.171-0.599,0.366-0.934,0.584	C27.334,12.881,25.705,12.69,24,12.69c-1.722,0-3.365,0.192-4.889,0.571c-0.339-0.22-0.654-0.417-0.942-0.589	c-0.978-0.584-1.677-0.819-2.417-1.069l-0.196-0.066c-0.585-0.199-1.207-0.241-1.626-0.241c-0.302,0-0.501,0.021-0.501,0.021	l-0.302,0.032l-0.3,0.031l-0.112,0.281l-0.113,0.283c-0.01,0.026-0.233,0.594-0.419,1.391l-0.027,0.115	c-0.17,0.719-0.381,1.615-0.193,2.983c0.048,0.346,0.125,0.685,0.23,1.011c-1.285,1.666-1.936,3.646-1.936,5.89	c0,5.695,2.748,9.028,8.397,10.17c-0.194,0.388-0.345,0.798-0.452,1.224c-0.197,0.067-0.378,0.112-0.538,0.137	c-0.238,0.036-0.487,0.054-0.739,0.054c-0.686,0-1.225-0.134-1.435-0.259c-0.313-0.186-0.872-0.727-1.414-1.518	c-0.463-0.675-1.185-1.558-1.992-1.927c-0.698-0.319-1.437-0.502-2.029-0.502c-0.138,0-0.265,0.01-0.376,0.028	c-0.517,0.082-0.949,0.366-1.184,0.78c-0.203,0.357-0.235,0.773-0.088,1.141c0.219,0.548,0.851,0.985,1.343,1.255	c0.242,0.133,0.765,0.619,1.07,1.109c0.229,0.368,0.335,0.63,0.482,0.992c0.087,0.215,0.183,0.449,0.313,0.732	c0.47,1.022,1.937,1.924,2.103,2.023c0.806,0.483,2.161,0.638,3.157,0.683l0.123,0.003c0,0,0.001,0,0.001,0	c0.24,0,0.57-0.023,1.004-0.071v2.613c0.002,0.529-0.537,0.649-1.25,0.638l0.547,0.184C19.395,43.572,21.645,44,24,44	c2.355,0,4.605-0.428,6.703-1.176l0.703-0.262C30.695,42.538,30.016,42.422,30.01,41.996z"
                        opacity=".05"></path>
                    <path
                        d="M30.781,42.797c-0.406,0.047-1.281-0.109-1.281-0.795v-5.804c0-1.094-0.328-2.151-0.936-3.052	c5.915-0.957,8.679-4.093,8.679-9.812c0-2.237-0.686-4.194-2.039-5.822c0.137-0.365,0.233-0.75,0.288-1.147	c0.175-1.276-0.016-2.086-0.184-2.801l-0.027-0.116c-0.178-0.761-0.388-1.297-0.397-1.319l-0.111-0.282l-0.303-0.032	c0,0-0.178-0.019-0.449-0.019c-0.381,0-0.944,0.037-1.466,0.215l-0.196,0.066c-0.714,0.241-1.389,0.468-2.321,1.024	c-0.332,0.198-0.702,0.431-1.101,0.694C27.404,13.394,25.745,13.19,24,13.19c-1.762,0-3.435,0.205-4.979,0.61	c-0.403-0.265-0.775-0.499-1.109-0.699c-0.932-0.556-1.607-0.784-2.321-1.024l-0.196-0.066c-0.521-0.177-1.085-0.215-1.466-0.215	c-0.271,0-0.449,0.019-0.449,0.019l-0.302,0.032l-0.113,0.283c-0.009,0.022-0.219,0.558-0.397,1.319l-0.027,0.116	c-0.169,0.715-0.36,1.524-0.184,2.8c0.056,0.407,0.156,0.801,0.298,1.174c-1.327,1.62-1.999,3.567-1.999,5.795	c0,5.703,2.766,8.838,8.686,9.806c-0.395,0.59-0.671,1.255-0.813,1.964c-0.33,0.13-0.629,0.216-0.891,0.256	c-0.263,0.04-0.537,0.06-0.814,0.06c-0.69,0-1.353-0.129-1.69-0.329c-0.44-0.261-1.057-0.914-1.572-1.665	c-0.35-0.51-1.047-1.417-1.788-1.755c-0.635-0.29-1.298-0.457-1.821-0.457c-0.11,0-0.21,0.008-0.298,0.022	c-0.366,0.058-0.668,0.252-0.828,0.534c-0.128,0.224-0.149,0.483-0.059,0.708c0.179,0.448,0.842,0.85,1.119,1.002	c0.335,0.184,0.919,0.744,1.254,1.284c0.251,0.404,0.37,0.697,0.521,1.067c0.085,0.209,0.178,0.437,0.304,0.712	c0.331,0.719,1.353,1.472,1.905,1.803c0.754,0.452,2.154,0.578,2.922,0.612l0.111,0.002c0.299,0,0.8-0.045,1.495-0.135v3.177	c0,0.779-0.991,0.81-1.234,0.81c-0.031,0,0.503,0.184,0.503,0.184C19.731,43.64,21.822,44,24,44c2.178,0,4.269-0.36,6.231-1.003	C30.231,42.997,30.812,42.793,30.781,42.797z"
                        opacity=".07"></path>
                    <path
                        fill="#fff"
                        d="M36.744,23.334c0-2.31-0.782-4.226-2.117-5.728c0.145-0.325,0.296-0.761,0.371-1.309	c0.172-1.25-0.031-2-0.203-2.734s-0.375-1.25-0.375-1.25s-0.922-0.094-1.703,0.172s-1.453,0.469-2.422,1.047	c-0.453,0.27-0.909,0.566-1.27,0.806C27.482,13.91,25.785,13.69,24,13.69c-1.801,0-3.513,0.221-5.067,0.652	c-0.362-0.241-0.821-0.539-1.277-0.811c-0.969-0.578-1.641-0.781-2.422-1.047s-1.703-0.172-1.703-0.172s-0.203,0.516-0.375,1.25	s-0.375,1.484-0.203,2.734c0.077,0.562,0.233,1.006,0.382,1.333c-1.31,1.493-2.078,3.397-2.078,5.704	c0,5.983,3.232,8.714,9.121,9.435c-0.687,0.726-1.148,1.656-1.303,2.691c-0.387,0.17-0.833,0.33-1.262,0.394	c-1.104,0.167-2.271,0-2.833-0.333s-1.229-1.083-1.729-1.813c-0.422-0.616-1.031-1.331-1.583-1.583	c-0.729-0.333-1.438-0.458-1.833-0.396c-0.396,0.063-0.583,0.354-0.5,0.563c0.083,0.208,0.479,0.521,0.896,0.75	c0.417,0.229,1.063,0.854,1.438,1.458c0.418,0.674,0.5,1.063,0.854,1.833c0.249,0.542,1.101,1.219,1.708,1.583	c0.521,0.313,1.562,0.491,2.688,0.542c0.389,0.018,1.308-0.096,2.083-0.206v3.75c0,0.639-0.585,1.125-1.191,1.013	C19.756,43.668,21.833,44,24,44c2.166,0,4.243-0.332,6.19-0.984C29.585,43.127,29,42.641,29,42.002v-5.804	c0-1.329-0.527-2.53-1.373-3.425C33.473,32.071,36.744,29.405,36.744,23.334z M11.239,32.727c-0.154-0.079-0.237-0.225-0.185-0.328	c0.052-0.103,0.22-0.122,0.374-0.043c0.154,0.079,0.237,0.225,0.185,0.328S11.393,32.806,11.239,32.727z M12.451,33.482	c-0.081,0.088-0.255,0.06-0.389-0.062s-0.177-0.293-0.096-0.381c0.081-0.088,0.255-0.06,0.389,0.062S12.532,33.394,12.451,33.482z M13.205,34.732c-0.102,0.072-0.275,0.005-0.386-0.15s-0.118-0.34-0.016-0.412s0.275-0.005,0.386,0.15	C13.299,34.475,13.307,34.66,13.205,34.732z M14.288,35.673c-0.069,0.112-0.265,0.117-0.437,0.012s-0.256-0.281-0.187-0.393	c0.069-0.112,0.265-0.117,0.437-0.012S14.357,35.561,14.288,35.673z M15.312,36.594c-0.213-0.026-0.371-0.159-0.353-0.297	c0.017-0.138,0.204-0.228,0.416-0.202c0.213,0.026,0.371,0.159,0.353,0.297C15.711,36.529,15.525,36.62,15.312,36.594z M16.963,36.833c-0.227-0.013-0.404-0.143-0.395-0.289c0.009-0.146,0.2-0.255,0.427-0.242c0.227,0.013,0.404,0.143,0.395,0.289	C17.381,36.738,17.19,36.846,16.963,36.833z M18.521,36.677c-0.242,0-0.438-0.126-0.438-0.281s0.196-0.281,0.438-0.281	c0.242,0,0.438,0.126,0.438,0.281S18.762,36.677,18.521,36.677z"
                    ></path>
                </svg>
                <h2>GitHub</h2>
                <p>
                    <esp>Repositorios y cosas</esp>
                    <eng>Repositories and stuff</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="https://www.roblox.com/users/3596403470/profile"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-boblox">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 48 48"
                    width="48px"
                    height="48px"
                >
                    <path
                        fill="#e2231a"
                        d="M11.229,1.98L1.98,36.771l34.792,9.249l9.249-34.792L11.229,1.98z M26.838,28.893l-7.731-2.055 l2.055-7.731l7.731,2.055L26.838,28.893z"
                    ></path>
                </svg>
                <h2>Roblox</h2>
                <p>
                    <esp>di lo que quieras, pero BRM5 es la hostia</esp>
                    <eng>say whatever you want, but BRM5 is awesome</eng>
                </p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
        <a
            href="mailto:zakahacecosas@protonmail.com"
            target="_blank"
            rel="noopener noreferrer"
        >
            <box class="animation zakaBoxBlur box-proton">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 200 162"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M156.696 30.3307V161.462H178.434C189.801 161.462 199.012 152.124 199.012 140.625V4.63925C199.012 0.710431 194.499 -1.42882 191.508 1.08069L156.696 30.3307Z"
                        fill="#BEA7FF"></path>
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M126.378 55.8368L86.6648 91.3606C79.8935 97.4081 69.7873 97.5521 62.8534 91.7102L0 38.8051V4.65937C0 0.730556 4.51421 -1.42926 7.50337 1.08024L86.3599 67.3558C93.9852 73.7736 105.047 73.7736 112.672 67.3558L126.378 55.8368Z"
                        fill="#BEA7FF"></path>
                    <path
                        d="M156.696 30.3516L126.378 55.8375L126.398 55.8373L86.6648 91.3613C79.8935 97.4088 69.7873 97.5528 62.8534 91.7109L0 38.8058V140.626C0 152.124 9.21143 161.463 20.5784 161.463H156.696V30.3516Z"
                        fill="#6D4AFF"></path>
                </svg>
                <h2>Correo-e</h2>
                <p>#FuckGmail</p>
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            </box>
        </a>
    </bento>
    <!--
optional:

gravatar https://gravatar.com/zakahacecosas
stack overflow: https://stackoverflow.com/users/21657379/zaka
Trello: https://trello.com/u/zakahacecosas
-->
</Layout>
