---
import Layout from "../layouts/Layout.astro";
import Lang from "../components/Lang.astro";
import { Icon } from "astro-icon/components";
import Status from "../components/Status.astro";
import ZakaBox from "../components/ZakaBox.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <!-- not lazily loaded because it's on top, bro -->
    <img
        loading="eager"
        src="https://zakahacecosas.github.io/design/logo.webp"
        alt="Logotipo de Zaka"
        class="animation logo"
    />
    <Lang />
    <h1 class="animation">
        <esp>
            Buenos días, tardes, noches, o cuando sea que estés aquí.<br />
            Soy Zaka y Hago Cosas.
        </esp>
        <eng>
            Good morning, afternoon, night, or whenever you're here.<br />
            I'm Zaka and I Make Stuff.
        </eng>
    </h1>
    <div class="zakaBox zakaBoxBlur skill-box">
        <p>
            <esp>Habilidades</esp>
            <eng>Skills</eng>
        </p>
        <div class="animation all-skills">
            <div class="skill">
                <Icon name="FIGMA" width={30} height={30} />
                <div class="text">
                    <h3>4 <esp>años</esp><eng>years</eng></h3>
                    <p>
                        <esp>Diseño gráfico y UI</esp>
                        <eng>Graphical and UI design</eng>
                    </p>
                </div>
            </div>
            <div class="skill">
                <Icon name="LUAU" width={30} height={30} />
                <div class="text">
                    <!-- 2 years, but i haven't practiced for like enough time to reduce it to one -->
                    <h3>1 <esp>año</esp><eng>year</eng></h3>
                    <p>Roblox scripting</p>
                </div>
            </div>
            <div class="skill">
                <Icon name="JAVASCRIPT-BUT-BETTER" width={30} height={30} />
                <div class="text">
                    <h3>+6 <esp>meses</esp><eng>months</eng></h3>
                    <p>
                        <esp>Webs y apps simples</esp>
                        <eng>Simple webs and apps</eng>
                    </p>
                </div>
            </div>
            <div class="skill">
                <Icon name="REACT" width={30} height={30} />
                <div class="text">
                    <h3>+6 <esp>meses</esp><eng>months</eng></h3>
                    <p>
                        <esp>Webs y apps simples</esp>
                        <eng>Simple webs and apps</eng>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h2>
        <esp>Aquí tienes algunas cosas que hago</esp>
        <eng>Here you got some stuff I do</eng>
    </h2>
    <p>
        <esp>
            Cada caja es un enlace a la web, Discord, o GitHub de cada proyecto
            proyecto.
        </esp>
        <eng>
            Each box is a link to the website, Discord, or GitHub of each
            project.
        </eng>
    </p>
    <!-- PROJECTS -->
    <h3>
        <esp> Trabajo / he trabajado con (o he contribuido a) </esp>
        <eng> I work / I've worked with (or have contributed to) </eng>
    </h3>
    <p>
        <esp>
            Las etiquetas indican con que rol / cómo he aportado a cada proyecto
            (a grosso modo). Incluye proyectos a los que
            <i>ya no</i> pertenezco.
        </esp>
        <eng>
            The labels indicate what I have contributed to each project
            (roughly). Includes projects I don't belong to <i>anymore</i>.
        </eng>
    </p>
    <bento>
        <ZakaBox
            url="https://github.com/SokoraDesu/Sokora"
            name="Sokora"
            boxIcon={{
                type: "image",
                name: "sokoballs",
            }}
            boxClass="box-neboola"
            labels="design,writing"
            desc={{
                esp: "Un bot de Discord épico",
                eng: "An epic Discord bot",
            }}
        />
        <ZakaBox
            url="https://vuelto.pp.ua/"
            name="Vuelto"
            boxIcon={{
                type: "image",
                name: "vuelta",
            }}
            boxClass="box-vuelta"
            labels="writing,design"
            desc={{
                esp: "El mejor motor de juegos (Golang)",
                eng: "The best game engine (Golang)",
            }}
        />
        <ZakaBox
            url="https://miracleos.com/"
            name="MiracleOS"
            boxIcon={{
                type: "image",
                name: "aros",
            }}
            boxClass="box-ppt"
            labels="ui design,website dev"
            desc={{
                esp: "Una distro Linux.",
                eng: "A Linux distro.",
            }}
        />
        <ZakaBox
            url="https://thoneai.com/"
            name="Thone AI"
            boxIcon={{
                type: "image",
                name: "ladrillero",
            }}
            boxClass="box-toro"
            labels="typescript,design"
            desc={{
                esp: "tiembla, OpenAI",
                eng: "fear, OpenAi",
            }}
        />
        <ZakaBox
            url="https://minigamebeta.cloud/"
            name="MiniGame"
            boxIcon={{
                type: "svg",
                name: "mg",
            }}
            boxClass="box-websocket"
            labels="design"
            desc={{
                esp: "cloud gaming del épico",
                eng: "epic cloud gaming",
            }}
        />
        <ZakaBox
            url="https://github.com/Amog-OS/"
            name="AmogOS"
            boxIcon={{
                type: "image",
                name: "sus",
            }}
            boxClass="box-sus"
            labels="website dev,design"
            desc={{
                esp: "no lo digan",
                eng: "don't say it",
            }}
        />
        <ZakaBox
            url="https://avdanos.com/"
            name="AvdanOS"
            boxIcon={{
                type: "image",
                name: "bread",
            }}
            boxClass="box-bread"
            labels="ui design"
            desc={{
                esp: "Un SO Linux bastante guapo.",
                eng: "A pretty cool Linux OS.",
            }}
        />
    </bento>
    <!-- PROJECTS -->
    <h3>
        <esp>He creado estos proyectos</esp>
        <eng>I've created these projects</eng>
    </h3>
    <bento>
        <ZakaBox
            url="https://personaplus.vercel.app/"
            name="PersonaPlus"
            boxIcon={{
                type: "svg",
                name: "exponential",
            }}
            boxClass="box-exponential"
            labels="mobile, react native"
            desc={{
                esp: "¡Date un plus!",
                eng: "Give yourself a plus!",
            }}
        />
        <ZakaBox
            url="https://zakahacecosas.github.io/FuckingNode/"
            name="FuckingNode"
            boxIcon={null}
            boxClass="box-nodular"
            labels="cli, node js, deno js, bun js"
            desc={{
                esp: "'El caos de mantener proyectos JS acaba aquí.'",
                eng: "'The chaos of maintaining JS projects ends here.'",
            }}
        />
    </bento>
    <!-- CONTACT -->
    <h3 id="contact">
        <esp>Contacto y redes sociales</esp>
        <eng>Contact and social media</eng>
    </h3>
    <Status status="notAvailable" />
    <bento>
        <ZakaBox
            url="https://discord.com/users/807903704472223754/"
            name="Discord"
            boxIcon={{
                type: "svg",
                name: "discord",
            }}
            boxClass="box-dc"
            desc={{
                esp: "Contácteme aquí.",
                eng: "Contact me here.",
            }}
        />
        <ZakaBox
            url="https://youtube.com/@ZakaHaceCosas/"
            name="YouTube"
            boxIcon={{
                type: "svg",
                name: "yt",
            }}
            boxClass="box-yt"
            desc={{
                esp: "De obras de arte hasta videos cringe.",
                eng: "From pieces of art to cringe videos.",
            }}
        />
        <ZakaBox
            url="https://x.com/ZakaHaceCosas/"
            name="Twitter"
            boxIcon={{
                type: "svg",
                name: "not-x",
            }}
            boxClass="box-x"
            desc={{
                esp: "Me niego a llamarlo X.",
                eng: "I refuse to call it X.",
            }}
        />
        <ZakaBox
            url="https://github.com/ZakaHaceCosas/"
            name="GitHub"
            boxIcon={{
                type: "svg",
                name: "git",
            }}
            boxClass="box-gh"
            desc={{
                esp: "Código útil y no tan útil",
                eng: "Useful and useless code",
            }}
        />
        <ZakaBox
            url="https://www.roblox.com/users/3596403470/profile"
            name="Roblox"
            boxIcon={{
                type: "svg",
                name: "boblox",
            }}
            boxClass="box-boblox"
            desc={{
                esp: "di lo que quieras, pero BRM5 es la hostia",
                eng: "say whatever you want, but BRM5 is awesome",
            }}
        />
        <ZakaBox
            url="mailto:zakahacecosas@protonmail.com"
            name="Correo-e"
            boxIcon={{
                type: "svg",
                name: "proton",
            }}
            boxClass="box-proton"
            desc={{
                esp: "No GMail, por supuesto.",
                eng: "Not GMail, of course.",
            }}
        />
        <ZakaBox
            url="https://guilded.gg/u/zakahacecosas"
            name="Guilded"
            boxIcon={{
                type: "svg",
                name: "roblox-chat",
            }}
            boxClass="box-roblox-chat"
            desc={{
                esp: "por lo que sea ahora es roblox chat.",
                eng: "for whatever reason it's now roblox chat.",
            }}
        />
        <ZakaBox
            url="https://bsky.app/profile/zakahacecosas.bsky.social"
            name="Bluesky"
            boxIcon={{
                type: "svg",
                name: "sky",
            }}
            boxClass="box-sky"
            desc={{
                esp: "Twitter pero mejor.",
                eng: "Twitter but better.",
            }}
        />
    </bento>
</Layout>
<!--
optional: gravatar https://gravatar.com/zakahacecosas / stack overflow: https://stackoverflow.com/users/21657379/zaka
Trello: https://trello.com/u/zakahacecosas / BTC wallet: xd / BeHance: https://www.behance.net/zakacosas
-->
