---
import { Icon } from "astro-icon/components";
---

<div class="animation langSelector">
    <a id="setLangEs" href="#" class="lang">
        <!-- what-is-stable-politics.svg -->
        <Icon name="what-is-stable-politics" width={20} height={20} />
        ESPAÑOL
    </a>
    <hr />
    <a id="setLangEn" href="#" class="lang">
        <!-- what-is-a-kilometer.svg -->
        <Icon name="what-is-a-kilometer" width={20} height={20} />
        ENGLISH
    </a>
</div>
