bento {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

bento > a:last-child:nth-child(odd) > box {
    grid-column: span 2;
}

bento > a {
    display: contents;
}

bento > a > box {
    grid-column: auto;
    grid-row: auto;
}

bento a {
    color: #fff;
}

box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px;
    background-color: var(--cardBg);

    border: var(--cardStroke);
    gap: 10px;
}
box img {
    object-fit: scale-down;
}
box .imageLike {
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
}
box flex p {
    line-height: 100%;
}
box flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
box:hover {
    cursor: pointer;
}
box:hover flex {
    gap: 40px;
    font-weight: 700;
}
box .label {
    padding: 5px 10px;
    border: var(--cardStrokeDark);
    background-color: var(--lightBg);
    font-size: small;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
