/*
This is epic. I do not accept any valid argument against that statement because it would not be possible for that kind of argument to even exist.

Box names are chosen in purpose. If you do not understand them, it's not a problem. If you do, you're probably someone I know.
*/
/* labels */
.box-yt:hover svg path[fill="#FFF"] {
    fill: #ff3d00;
}
.box-boblox:hover svg path,
.box-websocket:hover svg path,
.box-proton:hover svg path,
.box-yt:hover svg path[fill="#FF3D00"],
.box-dc:hover svg path,
.box-fogma:hover svg circle,
.box-fogma:hover svg path,
.box-exponential:hover svg path,
.box-x:hover svg path {
    fill: #ffffff;
}
/* boxes */
.box-yt:hover {
    background-color: #ff3d0090;
    box-shadow: 0 0 60px 0 #ff3d0080;
    border: 1px solid #ff3d00;
}
.box-x:hover {
    background-color: #03a9f490;
    box-shadow: 0 0 60px 0 #03a9f480;
    border: 1px solid #03a9f4;
}
.box-dc:hover {
    background-color: #536dfe90;
    box-shadow: 0 0 60px 0 #536dfe80;
    border: 1px solid #536dfe;
}
.box-fogma:hover {
    background-color: #66bb6a90;
    box-shadow: 0 0 60px 0 #66bb6a80;
    border: 1px solid #66bb6a;
}
.box-gh:hover {
    background-color: #000;
    box-shadow: 0 0 60px 0 #ffffff30;
    border: 1px solid #ffffff90;
}
.box-boblox:hover {
    background-color: #ff573390;
    box-shadow: 0 0 60px 0 #ff573380;
    border: 1px solid #ff5733;
}
.box-neboola:hover {
    background-color: #834dba90;
    box-shadow: 0 0 60px 0 #834dba80;
    border: 1px solid #834dba;
}
.box-bread:hover {
    background-color: #0070f390;
    box-shadow: 0 0 60px 0 #0070f380;
    border: 1px solid #0070f3;
}
.box-ppt:hover {
    background-color: #ffa50090;
    box-shadow: 0 0 60px 0 #ffa50080;
    border: 1px solid #ffa500f3;
}
.box-websocket:hover {
    background-color: #194ec590;
    box-shadow: 0 0 60px 0 #194ec580;
    border: 1px solid #194ec5;
}
.box-sus:hover {
    background-color: #dc187a90;
    box-shadow: 0 0 60px 0 #dc187a80;
    border: 1px solid #dc187a;
}
.box-exponential:hover {
    background-color: #32ff8070; /* for visibility, i'll make an exception with this color */
    box-shadow: 0 0 60px 0 #32ff8080;
    border: 1px solid #32ff80;
}
.box-nodular:hover {
    background-color: #6cbb5590;
    box-shadow: 0 0 60px 0 #6cbb5580;
    border: 1px solid #6cbb5580;
}
.box-proton:hover {
    background-color: #7341ff90;
    box-shadow: 0 0 60px 0 #7341ff80;
    border: 1px solid #7341ff;
}
.box-toro:hover {
    background-color: #655dea90;
    box-shadow: 0 0 60px 0 #655dea80;
    border: 1px solid #655dea;
}
.box-vuelta:hover {
    background-color: #f99a6690;
    box-shadow: 0 0 60px 0 #f99a6680;
    border: 1px solid #f99a66;
}
