a.lang {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
    align-items: center;
    opacity: 0.5;
    text-decoration: none;
}

a.lang:hover {
    opacity: 1;
    cursor: pointer;
}

.langSelector {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    top: 40px;
    right: 5vw;
    padding: 10px;
    background-color: var(--cardBg);
    border: var(--cardStroke);
    z-index: 99;
}
