/* important, without this both English and Spanish text will render at the same time */
html[lang="es"] eng {
    display: none;
}
html[lang="en"] esp {
    display: none;
}
img {
    pointer-events: none !important;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    scroll-behavior: smooth;
    transition-duration: 450ms;
    font-family: Poppins, "Segoe UI", sans-serif;
    text-decoration: none;
}
:root {
    --bodyBg: rgba(0, 0, 0, 1);
    --cardBg: rgba(15, 15, 15, 0.5);
    --extraBg: rgba(20, 20, 20, 0.75);
    --lightBg: rgba(65, 65, 65, 0.25);
    --doNotUseMe_whiteStroke: rgba(255, 255, 255, 0.25);
    --doNotUseMe_darkStroke: rgba(0, 0, 0, 0.25);
    --doNotUseMe_strokeWidth: 2px;
    --cardStroke: var(--doNotUseMe_strokeWidth) solid
        var(--doNotUseMe_whiteStroke);
    --cardStrokeDark: var(--doNotUseMe_strokeWidth) solid
        var(--doNotUseMe_darkStroke);
}
body {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    padding: 40px 0px;
    background-image: linear-gradient(to bottom right, #505050, #1f1f1f);
    color: #fff;
}
footer {
    padding: 10px;
    margin-bottom: 20px;

    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-color: var(--cardBg);
    border: var(--cardStroke);
}
.zakaBox {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--cardBg);
    border: var(--cardStroke);
}
.logo {
    height: 100px;
    object-fit: scale-down;
}

.god {
    color: #00ff64;
}
.meh {
    color: #ffff32;
}
.nah {
    color: #ff3232;
}
.disclaimer {
    color: #ccc;
    font-size: xx-small;
}
h1 {
    font-size: 1.5em;
}
hr {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.25);
}
.skill-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: calc(100% - 40px);
}
.all-skills {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex: 1;
    gap: 10px;
    flex-grow: 1;
    padding: 20px;
    background-color: var(--extraBg);
    border: var(--cardStroke);
    flex-basis: 40%;
}
.skill .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}
.skill .text h3 {
    font-size: larger;
    font-weight: 400;
    line-height: 1.1;
}
.skill .text p {
    font-size: smaller;
    opacity: 0.75;
    line-height: 1;
}
a {
    font-weight: 500;
    color: #19ff73;
}
a:hover {
    text-decoration: underline;
}
