/*
Animate On Scroll. Inspired (aka copied) from a Fireship video.

Looks good.
*/
.animation {
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.6s ease !important;
}
/* accessibility */
@media (prefers-reduced-motion: reduce) {
    .animation {
        opacity: 1;
        transform: none;
        transition: none;
    }
}
.scroll-animation {
    opacity: 1;
    transform: translateY(0);
}
