---
// begin top 10 biggest css
import "../css/main.css";
import "../css/bento.css";
import "../css/epicBoxes.css";
import "../css/lang.css";
import "../css/responsive.css";
import "../css/scrollAnimation.css";
import "../css/scrollbar.css";
// end top 10 biggest css
---

<!doctype html>
<html>
    <head>
        <script
            src="https://analytics.ahrefs.com/analytics.js"
            data-key="y5ZFxqJEyM+7GvuWdCne3g"
            async></script>
        <!-- ^ analytics -->
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <!--begin basics-->
        <title>ZakaHaceCosas&trade;</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--end basics-->

        <!-- GitHub pages forces me to do stuff this way -->
        <link rel="stylesheet" href="/index.izX-MlJD.css" />

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        />
        <!-- NOTE: maybe download the fonts and serve them from GitHub so google does not spy on us? -->

        <!--begin icons-->
        <link
            rel="apple-touch-icon"
            href="https://zakahacecosas.github.io/design/icon.webp"
        />
        <link
            rel="icon"
            href="https://zakahacecosas.github.io/design/icon.webp"
            type="image/webp"
        />
        <!--end icons-->

        <!--begin meta-->
        <!--basic-->
        <meta name="title" content="ZakaHaceCosas" />
        <meta name="description" content="I'm Zaka and I Make Stuff." />
        <meta name="author" content="ZakaHaceCosas" />
        <meta name="robots" content="index, follow" />
        <!--open graph-->
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="ZakaHaceCosas" />
        <meta property="og:title" content="ZakaHaceCosas" />
        <meta property="og:description" content="I'm Zaka and I Make Stuff." />
        <meta
            name="og:image"
            content="https://zakahacecosas.github.io/design/banner.webp"
        />
        <!--twitter-->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="ZakaHaceCosas" />
        <meta name="twitter:description" content="I'm Zaka and I Make Stuff." />
        <meta
            name="twitter:image"
            content="https://zakahacecosas.github.io/design/banner.webp"
        />
        <!--extra stuff-->
        <meta name="theme-color" content="#19FF73" />
        <!--(optix was the OG username, btw ) -->
        <meta
            name="keywords"
            content="Zaka, ZakaHaceCosas, Optix, LeOptix, portfolio, developer"
        />
        <!--end meta-->

        <script>
            /* LANGS */
            enum Languages {
                English = "en",
                Spanish = "es",
            }

            function setLang(lang: Languages) {
                if (lang !== Languages.English && lang !== Languages.Spanish) {
                    throw new Error(
                        "Why are you trying to set the language to something that isn't 'en' or 'es'?"
                    );
                }

                const expirationDate = new Date();
                expirationDate.setDate(expirationDate.getDate() + 365);
                try {
                    localStorage.setItem("selectedLang", lang);
                    localStorage.setItem(
                        "langExpiration",
                        expirationDate.toISOString()
                    );
                } catch (e) {
                    console.error("Error accessing localStorage", e);
                }
                document.documentElement.setAttribute("lang", lang);
            }

            document.addEventListener("DOMContentLoaded", function () {
                function testLang(test: string): Languages {
                    return /^es/i.test(test)
                        ? Languages.Spanish
                        : Languages.English;
                }

                try {
                    const selectedLang = localStorage.getItem("selectedLang");
                    const langExpiration =
                        localStorage.getItem("langExpiration");

                    const isInvalidLang =
                        selectedLang !== Languages.English &&
                        selectedLang !== Languages.Spanish;

                    if (selectedLang && langExpiration) {
                        const expirationDate = new Date(langExpiration);
                        if (
                            !isNaN(expirationDate.getTime()) &&
                            expirationDate > new Date()
                        ) {
                            if (isInvalidLang) {
                                localStorage.removeItem("selectedLang");
                                localStorage.removeItem("langExpiration");
                                setLang(testLang(navigator.language));
                            } else {
                                setLang(selectedLang as Languages);
                            }
                        } else {
                            localStorage.removeItem("selectedLang");
                            localStorage.removeItem("langExpiration");
                            setLang(testLang(navigator.language));
                        }
                    } else {
                        setLang(testLang(navigator.language));
                    }
                } catch (e) {
                    console.error("Error accessing localStorage", e);
                    setLang(testLang(navigator.language));
                }

                const switchToEnglish: HTMLElement | null =
                    document.getElementById("setLangEn");
                const switchToSpanish: HTMLElement | null =
                    document.getElementById("setLangEs");

                if (!switchToEnglish || !switchToSpanish) {
                    console.error(
                        "Either 'setLangEn' or 'setLangEs' is missing. Check your code."
                    );
                    throw new Error(
                        "Either 'setLangEn' or 'setLangEs' is missing. Check your code."
                    );
                }

                switchToEnglish.addEventListener("click", function () {
                    setLang(Languages.English);
                });

                switchToSpanish.addEventListener("click", function () {
                    setLang(Languages.Spanish);
                });
            });

            /* AOS */
            // animate on scroll with intersection observer API
            // if for some reason you're inspecting this, feel free to copy it lol
            const thingsToAnimate: NodeListOf<Element> =
                document.querySelectorAll<Element>(".animation");

            const observerCallback = (
                entries: IntersectionObserverEntry[]
            ): void => {
                entries.forEach((entry: IntersectionObserverEntry) => {
                    const targetElement = entry.target as HTMLElement;

                    if (entry.isIntersecting) {
                        targetElement.classList.add("scroll-animation");
                        observer.unobserve(targetElement); // animate once
                    } else {
                        targetElement.classList.remove("scroll-animation");
                    }
                });
            };

            const observer: IntersectionObserver = new IntersectionObserver(
                observerCallback,
                { threshold: 0.5 }
            );

            thingsToAnimate.forEach((element: Element) => {
                observer.observe(element);
            });
        </script>
    </head>
    <body>
        <!--
        this one has eager loading because turns out lazy loading can make it sometimes not load at all, specially on mobile
        -->
        <img
            loading="eager"
            src="https://zakahacecosas.github.io/design/grad-og.webp"
            alt="Decorative gradient"
            class="colorinchi"
        />
        <slot />
        <footer class="zakaBoxBlur animation">
            <p>&copy; ZakaHaceCosas, 2021-2025</p>
            <p class="disclaimer">
                <esp>
                    Todos los derechos reservados. Mi logo y mis demás diseños
                    están hechos por mí.<br />Nota: Algunos de los logos aquí
                    mostrados NO SON MÍOS y
                    <b>están protegidos por DERECHOS DE AUTOR</b>. No los uses
                    sin consentimiento del autor.
                </esp>
                <eng>
                    All rights reserved. My logo and my other designs are made
                    by myself.<br />Note: some of the logos shown here are NOT
                    MINE and
                    <b>are COPYRIGHTED</b>. Do not use them without author's
                    consent.
                </eng>
            </p>
        </footer>
    </body>
</html>
